body{
    background-image: url(Fondo.webp);
}

#top-page{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15%;
    background-color: rgb(240, 240, 240);
    position: sticky;
    top: 0;
}

.top-page__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.top-page__left__a{
    text-decoration: none;
    color: #000;
    font-family: "Pacifico";
    transition-property: "text-decoration";
    transition-duration: 1s;
}

.top-page__left__a:hover{
    text-decoration:dashed;
    color: #ccc07a;
}

#logo{
    border-radius: 50%;
}

.top-page__right{
    display: flex;
    align-items:center;
    justify-content: center;
}

#cuenta{
    border-radius: 50%;
}

#title-personalizados{
    font-family: "Pacifico";
    font-size: 40px;
}

.flor-personalizado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 10px solid #ccc07a;
    border-radius: 10%;
    padding-top: 3vh;
    background-color: #f0e8bc;
}

.flor-personalizado a{
    text-decoration: none;
    color: #000;
    font-family: "Pacifico";
}

.flor-personalizado__foto img{
    border-radius: 10% 10% 30% 30%;
}

.flor-personalizado__detalles{
    font-family: "Pacifico";
    border: 3px dashed #ccc07a;
    border-radius: 10%;
    padding: 3vh;
}

.flor-personalizado__botton{
    display: flex;
    gap: 10px;
}

.flor-personalizado__precio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3vh;
    font-family: "Pacifico";
    border: 3px dashed #ccc07a;
    border-radius: 10%;
    padding-left: 3vh;
}

.flor-personalizado__comprar{
    display: flex;
    flex-direction: column;
    font-family: "Pacifico";
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.unavailable-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 9999; 
    font-family: "Pacifico";
    display: none;
}

.unavailable-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ccc07a;
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
}

.flowers-img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.unavailable-inner img{
    border-radius: 50%;
}

@media (min-width: 769px) {
    .unavailable-container {
        display: block;
    }
}