body{
    background-image: url(Fondo.webp);
}

#top-page{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15%;
    background-color: rgb(240, 240, 240);
    position: sticky;
    top: 0;
}

.top-page__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.top-page__left__a{
    text-decoration: none;
    color: #000;
    font-family: "Pacifico";
    transition-property: "text-decoration";
    transition-duration: 1s;
}

.top-page__left__a:hover{
    text-decoration:dashed;
    color: #ccc07a;
}

#logo{
    border-radius: 50%;
}

.top-page__right{
    display: flex;
    align-items:center;
    justify-content: center;
}

#cuenta{
    border-radius: 50%;
}

#carrito{
    font-family: "Pacifico";
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title-carrito{
    font-family: "Pacifico";
}

.Producto{
    display: flex;
    flex-direction: space-between;
    border: 10px solid #ccc07a;
    border-radius: 10%;
    transition-property: background-color;
    transition-duration: 1s;
}

.Producto img{
    border-radius: 10% 10% 30% 30%;
}

.Producto:hover{
    background-color: #f0e8bc ;
    text-decoration:underline;
}

.Producto__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.total{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total span{
    padding: 7%;
    border: 5px dashed #ccc07a;
    border-radius: 12%;
    background-color: #f0e8bc;
}

.total__metodos-pago{

    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.unavailable-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 9999; 
    font-family: "Pacifico";
    display: none;
}

.unavailable-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ccc07a;
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
}

.flowers-img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.unavailable-inner img{
    border-radius: 50%;
}

@media (min-width: 769px) {
    .unavailable-container {
        display: block;
    }
}

