body{
    background-image: url(Fondo.webp);
}

#top-page{
    display: grid;
    grid-template-columns: 45vw 30vw 10vw;
    background-color: rgb(240, 240, 240);
    position: sticky;
    top: 0;
}

.top-page__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.top-page__left__a{
    text-decoration: none;
    color: #000;
    font-family: "Pacifico";
    transition-property: "text-decoration";
    transition-duration: 1s;
}

.top-page__left__a:hover{
    text-decoration:dashed;
    color: #ccc07a;
}

#logo{
    border-radius: 50%;
    width: 30vh;
    padding-top: 2vh;
}

.top-page__right{
    display: flex;
    align-items:center;
    justify-content: center;
}

#cuenta{
    border-radius: 50%;
}

#carrito{
    font-family: "Pacifico";
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title-carrito{
    font-family: "Pacifico";
}

.Producto{
    display: flex;
    flex-direction: space-between;
    border: 10px solid #ccc07a;
    border-radius: 10%;
}

.Producto img{
    border-radius: 10% 10% 30% 30%;
    width: 40vh;
    height: 40vh;
}

.Producto__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.total{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total span{
    padding: 2%;
    border: 5px dashed #ccc07a;
    border-radius: 12%;
    background-color: #f0e8bc;
}

.total__metodos-pago{

    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    color: #ccc07a;
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
}

.flowers-img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.btn-eliminar{
    font-family: "Pacifico";
    margin-bottom: 3vh;
    width: 20vh;

}

.listado{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    transition-property: background-color;
    transition-duration: 1s;
}

.listado:hover{
    background-color: #f0e8bc ;
    text-decoration:underline;
}

#lista-carrito{
    display: grid;
    grid-template-columns: 30vw 30vw 25vw;
    gap: 2vh;

}

#vaciar-carrito{
    padding: 2%;
    border: 5px dashed #c05656;
    border-radius: 12%;
    background-color: transparent;
    font-family: "Pacifico";
    font-size: 20px;
    transition-property: background;
    transition-duration: 2s;
}

#vaciar-carrito:hover{
    background-color: #c06868;
}

@media (max-width:800px) {
    #lista-carrito{
        grid-template-columns: 70vw;
        gap: 2vh;
    }
    #lista-carrito img{
        width: 40vw;
        height: 20vh;
    }
}