

#top-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
}

.top-page__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.top-page__left__a{
    text-decoration: none;
    color: #000;
}

#logo{
    border-radius: 50%;
}

.top-page__right{
    display: flex;
    align-items:center;
    justify-content: center;
}

#cuenta{
    border-radius: 50%;
}

#carouselExample{
    width: 90%;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}


#flores-favoritas{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 20%;
}